<div class="wrapper head-wrapper">
    <div class="home-head-bg scaling-animation">
        <div class="bg-overlay"></div>
    </div>
    <div class="content">
        <div class="head-content">
            <h1>
                ברוכים הבאים לאתר לני גרפיקס.
                <br>
                אפשר לכתוב פה משהו..
            </h1>
            <div class="header-content-action">
                <a class="button white" href="">קריאה לפעולה</a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="content">
        <div class="about-me-wrap">
            <h4 >עליי</h4>
            <div class="about-me-content">
                <div class="left">
                    תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן 
                </div>
                <div class="right">
                    תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן 
                </div>
            </div>
        </div>
    </div>
</div>
